<!DOCTYPE html>
<html lang="en" class="has-background-light">

<head>
  <title>
    <%= configFunctions.getProperty("application.applicationName") %>
  </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="<%= urlPrefix %>/images/favicon.svg" />
  <link rel="stylesheet" href="<%= urlPrefix %>/lib/bulma-a11y/bulma-a11y.min.css" />
</head>

<body>
  <main class="container" data-polling-millis="<%= configFunctions.getProperty("settings.pollingMillis") %>">
    <h1 class="title is-1 mt-4 has-text-centered"><%= configFunctions.getProperty("application.applicationName") %></h1>

    <% for (const config of configFunctions.getProperty("configs")) { %>
      <section class="section" data-config-key="<%= config.configKey %>">
        <h2 class="title is-3"><%= config.configTitle || config.configKey %></h2>
        <% for (const sensor of config.sensors) { %>
          <div class="box" data-sensor-key="<%= sensor.sensorKey %>">
            <div class="columns is-vcentered is-desktop">
              <div class="column has-text-centered is-3-desktop has-text-centered">
                <h3 class="title is-4">
                  <%= sensor.sensorTitle || sensor.sensorKey %>
                </h3>
                <p class="sensor-status has-text-grey" style="font-size:80px">
                  &#11044;
                </p>
                <p class="is-size-3">
                  <span data-field="sensorValue">-</span>
                  <%= sensor.sensorValue.unit %>
                </p>
                <p class="is-size-7 has-text-grey">
                  Updated: <span data-field="statusTime"></span><br />
                  Max: <span data-field="sensorValueMax"></span> <%= sensor.sensorValue.unit %><br />
                  Min: <span data-field="sensorValueMin"></span> <%= sensor.sensorValue.unit %>
                </p>
                <p class="is-size-4 has-text-danger" data-field="sensorText"></p>
              </div>
              <div class="column">
                <div class="chart" data-min="<%= sensor.sensorValue.min %>" data-max="<%= sensor.sensorValue.max %>" style="height:300px"></div>
              </div>
            </div>
          </div>
        <% } %>
      </section>
    <% } %>
  </main>
  <script>
    window.exports = window.exports || {};
    exports.historicalStatusLogs = <%- JSON.stringify(historicalStatusLogs) %>;
    exports.currentStatusLogs = <%- JSON.stringify(currentStatusLogs) %>;
    exports.urlPrefix = "<%= urlPrefix %>";
  </script>
  <script src="<%= urlPrefix %>/lib/echarts/echarts.min.js"></script>
  <script src="<%= urlPrefix %>/lib/bulma-js/bulma-js.js"></script>
  <script src="<%= urlPrefix %>/lib/bulma-webapp-js/cityssm.min.js"></script>
  <script src="<%= urlPrefix %>/javascripts/dashboard.min.js"></script>
</body>

</html>
